body {
  font-family: sans-serif;
  color: grey;
  padding: 0;
  margin: 0;
}

input[type=email] {
  display: block;
  margin-bottom: 25px;

}

input[type=password] {
  display: block;
  margin-bottom: 25px;

}

button{

  padding: 10px;
  border-radius: 5px;
  width: 150px;
  font-size: 16px;
  background-color: #1da1f2;
  margin-bottom: 10px;
}

.container{
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: auto;
}

.inner_div {
  padding: 20px;
}

header {
  margin-top: 10px;
  text-align: center;
}
